<!DOCTYPE html>
{% extends 'enroll/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="row">
<div class="col-sm-4">
<h4 class="text-center alert alert-info" > Add New Student </h4>
<form action="" method="post">
    {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Add">
</form>
    </div>
    <div class="col-sm-8">
        <h4 class="text-center alert alert-info" > Show Student Information </h4>
    {% if stu %}
        <table class="table table table-hover">

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">PASSWORD</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
  {% for st in stu %}
    <tr>
      <th scope="row">{{st.id}}</th>
      <td>{{st.name}}</td>
      <td>{{st.email}}</td>
      <td>{{st.password}}</td>
      <td>
          <a href="{% url 'update_data' st.id %}" class="btn btn-warning btn-sm">Edit</a>
          <form action="{% url 'delete_data' st.id %}" method="post" class="d-inline">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger btn-sm" value="Delete">

          </form>
      </td>

    </tr>
  {% endfor %}
  </tbody>
        </table>
        {% else %}
        <h2>not data</h2>
    {% endif %}
    </div>
    </div>


{% endblock content %}

</body>
</html>